
   h1{font-size: 600%;
        text-align: center;}
        body{background-image:url(hss.png) ;}
   h3{font-size: 100%;
color:rgb(28, 28, 29) ;}
h4{font-size: 200%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: brown;
font-weight: bold;}
h3{font-size:120% ;
color:black;}
p{font-size: 100%;
}